@charset "UTF-8";

/* 로그인 버튼 부분 */
#btn1 {
	font-size: 16px;
	font-family: $ primary-font;
	text-transform: capitalize;
	/* padding: 15px; */
	border-radius: 0;
	font-weight: 500;
	border: 0;
	position: relative;
	/* z-index: 1; */
	transition: .2s ease;
	overflow: hidden;
	float: left;
	left: 17px;
	background-color: #ffbc3b;
	width: 150px;
	height: 40px;
	margin-right: 10px;
	border: 0;
}

#btn1:hover {
	background-color: #fff;
}

#btn2 {
	position: relative;
	float: left;
	left: 20px;
	background-color: #ffbc3b;
	text-align: center;
	padding-top: 8px;
	color: #000;
	width: 200px;
	height: 40px;
	margin-right: 10px;
	bottom: 3px;
	font-size: 16px;
	font-family: $ primary-font;
	text-transform: capitalize;
	padding: 10px;
	border-radius: 0;
	font-weight: 500;
	border: 0;
	z-index: 1;
	transition: .2s ease;
	overflow: hidden;
}

#btn2:hover {
	background-color: #fff;
}

/* seat 테이블  css전용 */